<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/book.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="book-form" action="/admin/<% if (editing) { %>edit-book<% } else { %>add-book<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<% if (editing || hasError) { %><%= book.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="author">Author</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'author') ? 'invalid' : '' %>"
                    type="text" 
                    name="author" 
                    id="author" 
                    value="<% if (editing || hasError) { %><%= book.author %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    name="description" 
                    id="description" 
                    rows="5"><% if (editing || hasError) { %><%= book.description %><% } %></textarea>
            </div>
            <div class="form-control">
                <label for="genre">Genre</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'genre') ? 'invalid' : '' %>"
                    type="text" 
                    name="genre" 
                    id="genre" 
                    value="<% if (editing || hasError) { %><%= book.genre %><% } %>">
            </div>
            <div class="form-control">
                <label for="pageCount">Page Count</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'pageCount') ? 'invalid' : '' %>"
                    type="number" 
                    name="pageCount" 
                    id="pageCount"
                    value="<% if (editing || hasError) { %><%= book.pageCount %><% } %>">
            </div>
            <div class="form-control">
                <label for="backgroundColor">backgroundColor</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'backgroundColor') ? 'invalid' : '' %>"
                    type="color" 
                    name="backgroundColor" 
                    id="backgroundColor" 
                    value="<% if (editing || hasError) { %><%= book.backgroundColor %><% } %>">
            </div>
            <div class="form-control">
                <label for="inStock">Stock</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'inStock') ? 'invalid' : '' %>"
                    type="number" 
                    name="inStock" 
                    id="inStock"
                    value="<% if (editing || hasError) { %><%= book.inStock %><% } %>">
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= book._id %>" name="bookId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Book<% } else { %>Add Book<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>