<header class="header">
    <div class="nav-btn">
        <span class="nav-btn__burger"></span>
    </div>
    <a href="/">
        <svg id="logo" viewBox="0 0 250 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/">
            <g id="logo-bot" transform="matrix(1,0,0,1,0,4.5)">
                <path d="M20,80L230,80"/>
            </g>
            <g id="letters">
                <g id="logo-o" transform="matrix(1,0,0,1,10.4293,0.577054)">
                    <path d="M54,42C34.544,93.615 95.728,60.544 66,46"/>
                </g>
                <g id="logo-p" transform="matrix(1,0,0,1,11.2652,5.36194)">
                    <path d="M97,50C134.963,56.074 75.875,-0.35 91,65.112"/>
                </g>
                <g id="logo-u" transform="matrix(1,0,0,1,11.3666,2.59607)">
                    <path d="M125,42C122.667,73.718 148.333,79.181 148,42"/>
                </g>
                <g id="logo-s" transform="matrix(1,0,0,1,5.44617,2.59607)">
                    <path d="M184,42C139.114,43.537 213.008,65.59 170,67.878"/>
                </g>
            </g>
            <g id="logo-top" transform="matrix(1,0,0,1,0,4.5)">
                <path d="M20,35L125,11L230,35"/>
            </g>
        </svg>
    </a>
    <ul class="header-login__list">
        <% if (!isAuthenticated) { %>
            <li class="header-login__list-item btn">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
        <% } else { %>
            <li class="header-login__list-item btn">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</header>
<nav class="nav">
    <ul class="nav__list">
        <li class="nav__list-item <%= path === '/' ? 'active' : '' %>">
            <a href="/">Home</a>
        </li>
        <li class="nav__list-item <%= path === '/books' ? 'active' : '' %>">
            <a href="/books">Books</a>
        </li>
        <% if (isAuthenticated) { %>
            <li class="nav__list-item <%= path === '/tote' ? 'active' : '' %>">
                <a href="/tote">Your Tote</a>
            </li>
            <li class="nav__list-item <%= path === '/orders' ? 'active' : '' %>">
                <a href="/orders">Orders</a>
            </li>
            <% if (isAdmin) { %>
                <li class="nav__list-item <%= path === '/admin/add-book' ? 'active' : '' %>">
                    <a href="/admin/add-book">Add Book
                    </a>
                </li>
                <li class="nav__list-item <%= path === '/admin/books' ? 'active' : '' %>">
                    <a href="/admin/books">Admin Books
                    </a>
                </li>
            <% } %>
        <% } %>
    </ul>
</nav>