<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div style="background-color: <%= book.backgroundColor %>; text-align: center;">
            <h1 class="book__title">
                <%= book.title %>
            </h1>
            <h2 class="book__author">
                By <%= book.author %>
            </h2>
        </div>
        <br/>
        <p><%= book.description %></p>
        <br/>
        <p><b>Genre: </b><%= book.genre %></p><br/>
        <p><b>Page Count: </b><%= book.pageCount %></p>
        <div class="actions">
            <% if (isAuthenticated) { %>
                <%- include('../includes/add-to-tote.ejs', {book: book}) %>
                    <% } %>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>