<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (books.length > 0) { %>
                <ul class="tote__list">
                    <% books.forEach(p => { %>
                        <li class="tote__list-item">
                            <h1><%= p.bookId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                            <form action="/tote-delete-item" method="POST">
                                <input type="hidden" value="<%= p.bookId._id %>" name="bookId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn">Order Now!</button>
                    </form>
                </div>
                
            <% } else { %>
                <h1>No Books in Tote!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>